name: Azure Login Test

on:
  workflow_dispatch:

jobs:
  azure-login:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Verify login
      run: |
        az account show
        az group list
